body {
    background-color: rgb(211, 204, 189);
    color: black;
}
.container {
    background-color: rgb(0, 0, 0);
    border: 4px solid black;
    width: fit-content;
    height: fit-content;
    margin: auto;
    /* margin-top: 70px; */
}

.grid-container {
    position: relative;
    /* width: 540px;
    height: 540px; */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.win-pop-up, .rules-container, .difficulty-container, .question-popup {
    position: absolute;
    /* width: 400px;
    height: 400px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    /* padding: 20px; */
    z-index: 1000;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 10px; */
    color: white;
}

.rules-container {
    z-index: 1111;
}

.box {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(178, 178, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 40px; */
    cursor: pointer;
}

.smaller-font {
    /* font-size: 15px; */
    white-space: normal;
}

.box.selected {
    background-color: rgb(197, 197, 197);
}

#play-again-button {
    /* width: 200px;
    height: 70px;
    border-radius: 40px; */
}

h1 {
    color: white;
    text-align: center;
}

p {
    /* font-size: 21px; */
    text-align: center;
}

#rules-button {

}

#new-game-button {

}

.options {
    flex: 1;
    /* font-size: 16px; */
    border: 1.5px solid black;
}

.mistakes-counter {
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    flex-direction: column;
    flex: 1.2;
}

.level {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mistake {
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.buttons-container {
    position: absolute;
    /* top: 10px; */
    left: 50%;
    transform: translate(-50%);
    /* width: 540px;
    height: 50px; */
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
}

.difficulty {
    flex: 1;
    /* width: 400px;
    /* gap: 20px; */
    /* border-radius: 10px;
    font-size: 30px; */
}

#easy-button {
    background-color: rgb(255, 255, 255);
}

#medium-button {
    background-color: rgb(190, 190, 190);
}

#hard-button {
    background-color: rgb(135, 135, 135);
}

.digits-container {
    position: absolute;
    /* top: 630px; */
    left: 50%;
    transform: translate(-50%);
    /* width: 550px;
    height: 60px; */
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    align-items: center;
}

.digit-checker {
    flex: 1;
    background-color: white;
    /* height: 36px; */
    /* border-radius: 25px; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    border: 2px solid black;
    background-color: #f3f3f3;
}

.notes, .erease-button, .hint-button {
    /* flex: 2.5; */
    background-color: #f3f3f3;
    /* height: 36px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
    border: 2px solid black;
    /* border-radius: 25px; */
}

.highlight-button {
    background-color: #000000;
    color: rgb(232, 232, 232);
}

.highlight-notes-button {
    background-color: #000000;
    color: rgb(232, 232, 232);
}

.question-box {
    position: absolute;
    /* top: 20px;
    left: 20px; */
    border: 3px solid black;
    /* border-radius: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 40px; */
    font-weight: bold;
    /* width: 60px;
    height: 60px; */
    background-color: rgb(165, 165, 165);
}

.notesAndErease-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.solve-existing {
    position: absolute;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.timer-box {
    flex: 0.7;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    /* Stylizacja dla telefonów */
    .container {
        margin-top: 50px;
    }

    .grid-container {
        width: 300px;
        height: 300px;
    }

    .win-pop-up, .rules-container, .difficulty-container, .question-popup {
        width: 250px;
        height: 250px;
        padding: 10px;
        border-radius: 10px;
    }

    .box {
        font-size: 18px;
    }

    .smaller-font {
        font-size: 7px;
    }
    
    #play-again-button {
        width: 150px;
        height: 70px;
        border-radius: 40px;
    }

    p {
        font-size: 15px;
    }

    .options {
        font-size: 7px;
    }

    .buttons-container {
        top: 10px;
        width: 300px;
        height: 30px;
        gap: 6px;
    }

    .difficulty {
        width: 250px;
        gap: 20px;
        border-radius: 10px;
        font-size: 30px;
    }

    .digits-container {
        top: 390px;
        width: 300px;
        height: 40px;
        gap: 5px;
    }

    .digit-checker {
        height: 25px;
        border-radius: 15px;
        font-size: 15px;
    }

    .notes, .erease-button, .hint-button {
        height: 25px;
        font-size: 10px;
        border-radius: 25px;
    }

    .question-box {
        top: 20px;
        left: 20px;
        border-radius: 30px;
        font-size: 40px;
        width: 60px;
        height: 60px;
        display: none;
    }

    .notesAndErease-container {
        top: 362px;
        width: 300px;
        height: 30px;
        gap: 10px;
    }
  }

  @media (min-width: 767px) {
    /* Stylizacja dla większych urządzeń, takich jak laptopy i monitory */
    .container {
        margin-top: 70px;
    }

    .grid-container {
        width: 540px;
        height: 540px;
    }

    .win-pop-up, .rules-container, .difficulty-container, .question-popup {
        width: 400px;
        height: 400px;
        padding: 20px;
        border-radius: 10px;
    }

    .box {
        font-size: 40px;
    }

    .smaller-font {
        font-size: 15px;
    }
    
    #play-again-button {
        width: 200px;
        height: 70px;
        border-radius: 40px;
    }

    p {
        font-size: 21px;
    }

    .options {
        font-size: 16px;
    }

    .buttons-container {
        top: 10px;
        width: 540px;
        height: 50px;
        gap: 10px;
    }

    .difficulty {
        width: 400px;
        gap: 20px;
        border-radius: 10px;
        font-size: 30px;
    }

    .digits-container {
        top: 670px;
        width: 550px;
        height: 60px;
        gap: 10px;
    }

    .digit-checker {
        height: 36px;
        border-radius: 25px;
        font-size: 30px;
    }

    .notes, .erease-button, .hint-button {
        height: 36px;
        font-size: 18px;
        border-radius: 25px;
        width: 170px;
    }

    .question-box {
        top: 20px;
        left: 20px;
        border-radius: 30px;
        font-size: 40px;
        width: 60px;
        height: 60px;
    }

    .notesAndErease-container {
        top: 625px;
        width: 550px;
        height: 50px;
        gap: 10px;
    }

    .solve-existing {
        top: 630px;
        left: 50%;
        transform: translate(-50%);
        width: 500px;
        height: 70px;
        font-size: 30px;
    }
  }